
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_pass
AUTH_DB_NAME=auth_db
AUTH_DB_DSN=postgres://auth_user:auth_pass@db-auth:5432/auth_db?sslmode=disable


ITEM_DB_USER=item_user
ITEM_DB_PASSWORD=item_pass
ITEM_DB_NAME=item_db
ITEM_DB_DSN=postgres://item_user:item_pass@db-items:5432/item_db?sslmode=disable


RENTAL_DB_USER=rental_user
RENTAL_DB_PASSWORD=rental_pass
RENTAL_DB_NAME=rental_db
RENTAL_DB_DSN=postgres://rental_user:rental_pass@db-rentals:5432/rental_db?sslmode=disable


REVIEW_DB_USER=review_user
REVIEW_DB_PASSWORD=review_pass
REVIEW_DB_NAME=review_db
REVIEW_DB_DSN=postgres://review_user:review_pass@db-reviews:5432/review_db?sslmode=disable


CHAT_DB_USER=chat_user
CHAT_DB_PASSWORD=chat_pass
CHAT_DB_NAME=chat_db
CHAT_DB_DSN=postgres://chat_user:chat_pass@db-chat:5432/chat_db?sslmode=disable

ITEM_SERVICE_URL=http://item-service:5002
AUTH_SERVICE_URL=http://auth-service:5001

SECRET=dfsfydusfafj83nr2gf62fafagfa561of1nfb7fq9


SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=959f534047d132
SMTP_PASSWORD=d66f60846c4099
SMTP_SENDER=rent_item <no-reply@rent_item.com>


POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
