POSTGRES_USER=rent_item
POSTGRES_PASSWORD=pass
POSTGRES_DB=rent_item
DB_DSN=postgres://rent_item:pass@db:5432/rent_item?sslmode=disable

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://rent_item:pass@localhost:5434/rent_item?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations

SECRET=dsadahfufat3f72fv23fbb273f32fbv2fb273ui7ft252g3b7u

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=959f534047d132
SMTP_PASSWORD=d66f60846c4099
SMTP_SENDER=rent_item <no-reply@rent_item.com>